* {
	font-family: Tahoma ;
}

html, body {
  height: 100%;
}


body {
  background-color: #f5f5f5;
}

.table-center td{
   text-align: center;   
}
.table-center th{
   text-align: center;   
}

.col-right {
	text-align: right;
}
